{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page_header %}{{ title }}{% endblock %}

{% block content %}
<div style="max-width: 700px; margin: 0 auto; text-align: left; padding: 20px; background-color: #fff; border-radius: 5px;">
    <p>Мы рады приветствовать вас на информационном портале, посвященном лучшим шипажаям и санаториям Казахстана!</p>
    <p>Наша миссия — предоставить вам исчерпывающую, актуальную и удобную информацию для выбора идеального места для вашего отдыха, оздоровления и восстановления сил. Мы верим, что уникальные природные ресурсы Казахстана в сочетании с современными медицинскими подходами могут творить чудеса для вашего здоровья.</p>
    <h3 style="margin-top: 20px; color: #004d40;">Что вы найдете на нашем сайте:</h3>
    <ul style="list-style-type: disc; padding-left: 20px;">
        <li>Подробные описания санаториев и их специализаций.</li>
        <li>Информацию о лечебных программах и процедурах.</li>
        <li>Фотографии и отзывы отдыхающих (в будущем).</li>
        <li>Полезные статьи о санаторно-курортном лечении.</li>
    </ul>
    <p>Мы постоянно работаем над улучшением нашего ресурса и будем рады вашим отзывам и предложениям.</p>
    <p>Желаем вам крепкого здоровья и приятного выбора!</p>
</div>
{% endblock %}